/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body{
    margin: 0.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* Navigation box styling */
nav{
    border: 2px solid #333;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}


